
<!DOCTYPE html>
<html lang="en">
<head>
<head>
    <style type="text/css">
        .top {display:block; font-size :30pt; font-family:"Times New Roman"; color:black; margin-top:300px background-color:white ;  text-align:center;}
        .mailinfo {font-family:"Times New Roman";font-size :15pt; margin-top:300px}
    </style>
<meta charset="UTF-8">
    <title>test1</title>
</head>
<body>
    <% unless @userid.nil? %>
        <a href="/bookparty/logout">logout...</a>
        <h2> <%= @username %>님의 페이지입니다, </h2>
    <% else %>
        <h2> <%= @alertNonUser %> </h2>
    <% end %>
</body>
</html>