<head>
    <meta charset="UTF-8">
    <title>test1</title>

</head>
<body>
    <% unless @userid.nil? %>

        <a class="users" href="/bookparty/logout">logout...</a><br>
        <p class="users"><%= @username %>님 환영합니다.</p><br>
        <a href="/bookparty/storebookinfo"><input type = "image" id="storebtn" src="/images/storebookinfo.png"></a>
        <p class="title">책파리 피플</p><br>
        <h2>모두가 합리적인 중고책거래를 할 수 있습니다!<br>지금부터 시작해 보세요. </h2>
    <% else %>
        <h2> <%= @alertNonUser %> </h2>
    <% end %>
    
    <!-- 검색 bar -->
    
    <!-- 검색 parameter를 tagresult로 날려준다 -->
    <center>
    <form action="/bookparty/tagresult" method="POST">
        <input type="text" class="c-form-search" name ="tagSearch" placeholder="책제목 , 학교이름을 입력하세요." required />
        <input type="image" class = "c-form-submit" src="/images/search.png" alt="Submit" width="48" height="48">
    </form>
    </center>
</body>

