<head>
    <meta charset="UTF-8">
    <title>test1</title>
</head>
<body>
    <% unless @userid.nil? %>
        <a href="/bookparty/logout">logout...</a>
        <h2> <%= @username %>님의 페이지입니다 </h2>
        <a href="/bookparty/storebookinfo"><input type = "button" value="storebookinfo"></a>
    <% else %>
        <h2> <%= @alertNonUser %> </h2>
    <% end %>
</body>
