
<!DOCTYPE html>
<html lang="en">
<head>
<head>
    <style type="text/css">
        .top {display:block; font-size :30pt; font-family:"Times New Roman"; color:black; margin-top:300px background-color:white ;  text-align:center;}
        .mailinfo {font-family:"Times New Roman";font-size :15pt; margin-top:300px}
    </style>
<meta charset="UTF-8">
    <title>test1</title>
</head>
<body>
    <b class="top">
        <form method="post" action="/bookparty/signup_complete">
            Name : <input type="text" name="username"><br>
            Email : <input type="text" name="usermail"><br>
            Password : <input type="password" name="userpw"><br>
            School : <input type="text" name="userschool"><br>
            Phone : <input type="text" name="userphone"><br>
            <input type="submit" value="회원가입">
        </form>
    </b>
</body>
</html>