<head>
    <meta charset="UTF-8">
        <title>test1</title>
</head>
<body>
    <b class="top">
        <form method="post" action="/bookparty/signup_complete" id="signup_form">
           <center>
            <h1>Sign Up</h1>
            <input type="text" name="username" id="texttype" placeholder="Name"><br>
            <input type="email" name="usermail" id="texttype" placeholder="Email"><br>
            <input type="password" name="userpw" id="texttype" placeholder="Password"><br>
            <input type="text" name="userschool" id="texttype" placeholder="School"><br>
            <input type="text" name="userphone" id="texttype" placeholder="Phone"><br>
            <input type="submit" value="Sign Up" id="signup_btn">
            </center>
        </form>
    </b>
</body>
