<head>
    <meta charset="UTF-8">
        <title>판매</title>
</head>
<body>
    <b class="top">
        <form method="post" action="/bookparty/storebookinfo_complete">
            <input type = "hidden" name = "user_id" value = "<%= session["user_id"] %>" >
            Title : <input type = "text" name = "booktitle"><br>
            Author : <input type = "text" name = "bookauthor"><br>
            Publisher : <input type = "text" name = "bookpublisher"><br>
            Price : <input type = "text" name = "bookprice"><br>
            State : <input type = "text" name = "bookstate"><br>
            Sellterm : <input type = "text" name = "booksellterm"><br>
            <!-- 해시태그 입력 (아래의 스크립트 먹도록 수정하기 )-->
            HashTag : <input type = "text" name = "hashtag"> <br>
            <input type="submit" value="등록하기">
        </form>
    </b>
</body>

<script>
// 사용자가 엔터치면서 구분할 수 있도록
</script>

