/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-datepicker3
 *= require jquery/clockpicker
 */

@import url(https://fonts.googleapis.com/css?family=Exo+2:400,900,400italic,900italic);
@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);

body {
    font-family: 'Exo 2', 'Noto-Sans', 'Apple SD Gothic Neo', NanumGothic, 'Malgun Gothic', "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased !important;
}
#storebtn{
    float: left;
    margin-top: 10px;
    width: 100px;
    height: 60px;
}
#storebtn:focus{
    outline: none;
}
#mypagebtn{
    float: left;
    margin-top: 10px;
    width: 100px;
    height: 60px;
}
#mypagebtn:focus{
    outline: none;
}
.count{
    margin-top: 0pt;
    margin-left: -10pt;
    border: solid 0px;
    border-radius: 30px;
    background: rgb(35,152,136);
    color: white;
    font-size: 100%;
    width: 30px;
    height: 30px;
}
.box{
    display: none;
    width: 120px;
    height: 60px;
}