.top {
    display:block;
    font-size :13pt;
    font-family:"Arial";
    color:black;
    background-color:white ;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}
form{
    height: 400px;
}

h1{
    font-size: 37.09px;
    color: #000099;
    text-align: center;
}

#login_btn{
   background-color: #e7e7e7; 
   color: black;
   border-radius: 12px;
   border-style: hidden;
   width: 100px;
   margin-bottom :20px;
}
#login_btn:focus {
    outline: none;
}