
//tab
.tabmenu {
  position:relative; 
  width:400px; 
  height:200px;
  line-height:17px;
}

.tabmenu img {
  border:none;
  vertical-align:top;
  margin-left: 10px;
}

.tabmenu ul {
  margin:0px;
  padding:0px;
  list-style:none;
  margin-top: 15px;
}
.tabmenu ul li {
  float:left
}
.tabmenu .tabcontent {
  display:none;
  width:240px;
  height:125px;
  position:absolute;
  left:0px;
  top:60px
}
.tabmenu .morebtn {
  position:absolute;
  right:0;
  top:30px;
}
.thumbnail {
  margin-left:20px; 
  width:500px; 
  height:300px;
}
.thumbnail-image {
  width:150px; 
  height:300px; 
  margin-bottom:20px; 
  padding-top:50px;
}
.caption{
  margin-top:-300px;
  margin-left:200px;
}