.top {
    display:block;
    font-size :30pt; 
    font-family:"Times New Roman";
    color:black;
    margin-top:300px; 
    background-color:white ;  
    text-align:center;
}

.mailinfo {
    font-family:"Times New Roman";
    font-size :15pt;
    margin-top:300px;
}
