.top {
    display:block;
    font-size :30pt;
    font-family:"Times New Roman";
    color:black;
    margin-top:300px ;
    background-color:white ;
    text-align:center;
}
.hashtag-parent {
    display: inline-block;
}
.hashtag-nameing {
    display: inline-block;
}
.hashtag-input {
    display: inline-block;
}
