#content {
  float: right ;
  width: 50% ;
}
#navbar {
  float: right;
  width: 50%;
}

.hashtag-parent {
    display: inline-block;
}
.hashtag-nameing {
    display: inline-block;
}
.hashtag-input {
    display: inline-block;
}

input[type='file'] {
  border: 1px solid #d1d1d1;
  padding: .5em;
}


.input-group.date .input-group-addon {
  cursor: pointer;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}


